#customize-control-editorialmag_social_media_link label,
#customize-control-editorialmag_breaking_news_section label{
	float: left;
	margin-right: 20px;
}

/**
 * Customizer Page Layout 
*/
.image label{
    position: relative;
    margin: 0 3% 3% 0;
    display: inline-block;
    width: 46%;
}
.image input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.image img{
    display: block;
    border:2px solid #F6F6F6;
}
.image input:checked + img{
    border:2px solid #CCC;
}

/**
 * Customizer Icon Settings Area
*/
.customize-pane-parent .control-section .accordion-section-title:before{
    font-family: dashicons;
    content: "\f103";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#accordion-panel-editorialmag_general_settings .accordion-section-title:before,
#accordion-panel-editorialmag_design_options .accordion-section-title:before,
#accordion-panel-editorialmag_footer_settings .accordion-section-title:before{
    content: "\f111";
}

#accordion-panel-nav_menus .accordion-section-title:before{
    content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before{
    content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before{
    content: "\f499";
}

/* #accordion-section-editorialmag_main_banner_area .accordion-section-title:before{
    content: "\f233";
}

#accordion-panel-editorialmag_home_panel .accordion-section-title:before{
    content: "\f102";
} */

/**
 * Important link
*/
.implink{
  background: #0073aa;
  padding: 8px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin-top: 5px;
  line-height: 1.2;
  box-shadow: none;
  font-style: normal;
  text-decoration: none;
}
.implink:hover{
  background: #000;
}

/**
 * Select Multiple Category in Widget Area
 */
.editorialmag-multiplecat {
    height: 150px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 0 10px;
}

#widget-list [id*='_emag_'] .widget-top, 
#widget-list [id*='_emag_'] h3 {
    background: #0074a2;
    color: #fff;
}

/**
 * Update CSS
*/
.radio-image-wrapper{
  float: left;
  margin-right: 30px;
}


/**
 * Customizer Upgreate pro
*/
.editorialmag-pro{
    background-color: #e24545;
    color: #FFF !important;
    font-size: 14px;
    padding: 8px 0;
    line-height: 1;
    display: block;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.admin-pro-feature-list li{
 
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    padding: 10px 0px;
    line-height: 1;
}
.admin-pro-feature-list li:before{
     content: "\f345";
    font: 400 20px/1 dashicons;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    line-height: 1.5;
 
 }
.admin-pro-feature-list span{
    display: inline-block;
    width: 90%;
    line-height: 1.5;
    vertical-align: top;
}
.admin-pro-feature-list{
    margin: 0 5px;
}
.buynow{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}